.containerMenu {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    color: var(--cor-laranja);

}

.containerLista {
    display: flex;
    gap: 12px;
    align-items: center;
}

.link:hover {
    color: var(--cor-branco)
}

@media (min-width: 370px) and (max-width: 460px)  {
    .containerMenu {
        justify-content: space-between;
        margin-top: 17px;
    }


    .containerLista {
        font-size: 12px;
    }
}