.containerFormulario { 
    display: flex;
    flex-direction: column;
    grid: 10px;
    align-items: center;
}

.input {
    border-radius: 6px;
    margin-bottom: 10px;
    border: solid var(--cor-laranja);
    width: 500px;
}

.containerFormulario, h3, h4 {
    margin-bottom: 10px;
}


.containerFormulario, label { 
       margin-bottom: 10px;
}

.containerFormulario, button {
    margin-top: 10px;
    border-radius: 6px;
}

@media (min-width: 370px) and (max-width: 460px)  {
    .input {
        width: 200px;
    }
}