.textoDigitando {
    font-size: 30px;
    color: white;
}

.underline {
    color: white;
}


@media (min-width: 370px) and (max-width: 460px) {
    .textoDigitando {
        font-size: 20px;
    }
}

