.containerSkills {
    color: var(--cor-laranja);
    text-align: center;
    margin: 25px;
}

.tituloSkills {
    font-size: 26px;
    margin-top: -80px;
}

.containerIcone {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin: 100px;
}

@media (min-width: 370px) and (max-width: 460px) {

    .containerSkills {
        margin-top: 28px;
    }

    .containerIcone {
        display: flex;
        flex-wrap: wrap;
        margin: 3%;
    }

    .tituloSkills {
        font-size: 27px;
        margin-top: 16px;
        margin-bottom: 24px;
    }

}