.containerSobre {
    color: var(--cor-laranja);

}

.tituloSobre {
    text-align: center;
}

.textoSobre {
    margin-top: 25px;
    text-align: left;
    font-size: 17px;
    margin-right: 100px;
}


.containerConteudo {
    display: flex;
    margin: 50px;
    gap: 60px;
}

.fotoSobre {
    width: 250px;
    margin-left: 100px;
    border-radius: 6px;
}

.containerRedeSociais {
    display: flex;
    margin-top: 30px;
    gap: 40px;
    justify-content: center;
}

.icone:hover {
   color: var(--cor-branco)
}

@media (min-width: 370px) and (max-width: 460px)  {

    .containerConteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -17px;
        gap: 0px;
    }
    
    .tituloSobre {
        font-size: 15px;
        margin: 0px;
        margin-bottom: 47px;
    }

    .fotoSobre {
        width: 220px;
        height: 330px;
        margin-right: 105px;
    }

    .textoSobre {
        text-align: justify;
        margin: 10px;
        
    }

}
