.containerBanner {
    display: flex;
    color: var(--cor-laranja);
    justify-content: space-around;

}

.tituloBanner {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 10rem;
}

@media (min-width: 370px) and (max-width: 460px) {
    .containerBanner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .imagemAustronauta {
        width: 365px;
        height: 382px;
        margin-bottom: 37px;
        
    }

    .tituloBanner {
        font-size: 18px;
        margin-top: 75px;
    }
}